name: MLOps CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip' # Caches dependencies automatically

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Lint with Ruff
        run: |
          # F401: Unused imports, E501: Line length
          ruff check src/ tests/ --ignore E501

      - name: Run Tests
        run: |
          pytest tests/ -v